.home1{

    color: white;
    text-align: center;
    padding-left: 500px;
}


#firstt{
    display: flex;
    background-color: black;
    padding-left: 200px;
    padding: 5px;

}

.facebuk{
    color: white;
    justify-content: space-between;
padding-left: 250px;

}


.primarrry{
    background-color: rgb(223, 206, 209);
}



.searchh{
    display: flex;
    justify-content: space-around;
}

.searchh span {
    margin: 0 13px;
}

.facebuk span {
    margin: 0 13px;
}

.maaa{
    color: green;
    font-weight: bold;
    pointer-events: visibleStroke;
   
}

.maaa:hover {
    color: rgb(250, 86, 113) !important;
}


.imgg{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.h11{
    text-align: left;
    color: green;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 15%;
}

.img1{
    border-radius: 10rem !important;
    padding: 10px;
    margin: 10px;
   
}
.img1{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.5s ease-in-out;
}

.img1:hover{
    transform: scale(1.1);
    box-shadow: 0 25px 50px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 50%;
}

.imgg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 2%;
}

.img-carousel {
    height:750px !important;
}





@media screen and (max-width: 600px) {
    .img-carousel {
        height: 400px !important;
        width: 100%;
    }

    .imgg {
        flex-direction: column;
        align-items: center !important;
    }

    .img1 {
        width: 100%;
    }
}

.btn1{

    margin-left: 950px;
    width: 100px;
    height: 5rem;
    background-color: black;
}


.btn1 button {
    background-color: black;
    height: 50px;
    width: 100px;
    color: white;
}



.feat{
    font: bold;
}


.feat h4{
    font: bold;
    margin-left: 300px;
    color: green;
    margin-bottom: 50px;
}

.mycardd{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}